*{
	margin: 0px;
	padding: 0px;
}
body{
	background-image: url(imgs/fb.jpg);
	background-position: center center; 
	background-repeat:no-repeat;
	 /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando  la altura del
	  contenido supere la altura de la imagen. */
	background-attachment: fixed;
     /*reescalar cuando se cambia el ancho de ventana
     del navegador */
  background-size: cover;
  /*fondo de respaldo*/
  background-color: #464646;
}
#contenedor{
	width: 1100px;
	margin: auto;
	margin-top: 20px;
	margin-bottom:20px; 
}
header{
	width: 70%;
	height: 130px;
	padding:0px 15%;
    margin: 5px auto;
    text-align: center;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}
#contenido{
	width: 700px;
	float: left;;
	margin-top: 10px;
	margin-right: 10px; 
}
aside{
	width: 250px;
	height: 500px;
	margin-top: 10px;
	float: right;
	background-image:url(imgs/fondoblanco.png); 
}
footer{
	clear: both;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style:none;
}
.logo{
	width: 40%;
	float: left;
	padding: 40px 0px;
}
.logo a{

	font-size:30px; 
	color:#F0FFFF;
	font-family: 'Alfa Slab One', cursive;
}
.menu{
	width: 60% ;
	float: right;
	padding: 40px 0px ;
}
.menu li{
	display: inline;
}
.menu li a{
	margin-right: 5px;
	font-size: 17px;
	color: #F0FFFF;
	font-family: 'Alfa Slab One', cursive;
	padding: 5px;
}
.menu li a:hover{
background-image: url(imgs/button.jpg);
color:#A9A9A9;
border-radius: 4px;

}
#imgbievenida{
	width: 100%;
	box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}
.bienvenidos{
    width: 70%;
	height: 150px;
	padding:10px 15%;
    margin: 5px auto;
    text-align: center;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 20px;
}
.bienvenidos h1{
    font-size:30px; 
	color:#F0FFFF;
    font-family: 'Alfa Slab One', cursive;
}
.bienvenidos p{
    font-size:18px; 
	color:#A9A9A9;
	font-family: 'Alfa Slab One', cursive;
}
.articulo_1{
    width: 600px;
	height: 570px;
	padding:5px 15%;
    margin: 5px auto;
    text-align: center;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}
.articulo_1 h1{
    font-size:30px; 
	color:#F0FFFF;
    font-family: 'Alfa Slab One', cursive;
}
.articulo_1 p{
    font-size:15px; 
	color:#A9A9A9;
	font-family: 'Alfa Slab One', cursive;
	text-align: justify;
}
#mascota3d{
	padding: 20px 15%;
	width: 400px;
	height: 250px;
}

.articulo_2{
    width: 600px;
	height: 525px;
	padding:10px 15%;
    margin: 5px auto;
    text-align: center;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}
.articulo_2 h1{
    font-size:30px; 
	color:#F0FFFF;
    font-family: 'Alfa Slab One', cursive;
}
.articulo_2 p{

    font-size:15px; 
	color:#A9A9A9;
	font-family: 'Alfa Slab One', cursive;
	text-align: justify;
}
#estadiop{
	padding: 20px 15%;
	width: 400px;
	height: 250px;
}
.paisescla{
	width: 180px;
	height: 850px;
	padding: 10px 15%;
	margin: 5px auto;
    text-align: left;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}
.paisescla h1{
    font-size:25px; 
	color:#F0FFFF;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
}
.paisescla li a{
	color:#A9A9A9;
	font-size:17px; 
    font-family: 'Alfa Slab One', cursive;
    text-align: left;
}
.foot{
	width: 70%;
	height: 130px;
	padding:0px 15%;
    margin: 5px auto;
    text-align: center;
    background-image: url(imgs/button.jpg);
    box-shadow: 0px 0px 10px #000;
    border-radius: 7px;
}

.foot p{
    font-size:18px; 
	color:#A9A9A9;
	font-family: 'Alfa Slab One', cursive;
    padding: 40px 0px;
}
.foot p a{
    color:#000;
}